/*** GENERAL STYLING ***/

header .name {
    /* Make my name my favorite color :) */ 
    color: maroon;
    background-color:thistle;
    text-align: center;
}

body{
    background-image: linear-gradient(to bottom, #FFFFFF, maroon);
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-repeat: no-repeat;
}

#wrapper{
    background-color: white;
    width: 80%;
    margin-bottom: 100px;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 5px 5px 5px #333333;
    padding: 30px;
}

nav{
    text-align: center;
}

nav a{
    /*Get rid of automatic underlines from links*/
    text-decoration: none;
}

.title {
    text-align: center;
    text-decoration: solid maroon underline;
}

.occupation {
    text-align: center;
    font-weight:lighter;
    text-decoration: double underline;
}

.educationTitle {
    text-align: center;
    font-weight:lighter;
    text-decoration: double underline;
}

.me{
    width:400px;
    height:500px;
    float: right;
}

/*** WORK EXPERIENCE PICTURES ***/

.RLC{
    width:200px;
    height:250px;
    position: absolute;
    right: 270px;
    top: 200px;
}

.anchor {
    width:100px;
    height:150px;
    position: absolute;
    right: 310px;
    top: 450px;
}

.cola {
    width:250px;
    height:100px;
    position: absolute;
    right: 250px;
    top: 710px;
}

/*** SKILL TABLE ***/

.skillTable{
    width:100%;
    border-collapse: collapse;
    text-align: center;
}

td, th {
    border: 1px solid gray;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #efc7c7;
  }

  
/*** PROJECT CARDS ***/
.linkArea {
    justify-content: center;
    display:grid;
    padding-left: 70px;;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-column-gap: 1.5rem;
    grid-row-gap: 2rem;
    max-width: 1000px;
 }

figure {
    background: #ffffff;
    display: inline-block;
    width:260px;
    margin: 55px 30px 30px;
    padding: 15px 15px 30px;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    -webkit-transition: all .20s linear;
    -moz-transition: all .20s linear;
    transition: all .20s linear;
    cursor: pointer;
    position: relative;
}

figcaption {
    color: #333;
    font-size: 15px;
    word-wrap:break-word;
    top: 15px;
}

figure img {
    display: block;
    width: 260px;
    height: 260px;
}

figure a{
    text-decoration: none;
}

figure:hover {
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
    -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
}

/*** FOOTER ***/

.contact{
    text-decoration: none;
}

.contact:hover {
    text-decoration: underline;
}